[submodule "appledoc"]
	path = appledoc
	url = https://github.com/sbausis/appledoc.git
	branch = master
[submodule "SBJson"]
	path = SBJson
	url = https://github.com/sbausis/SBJson.git
	branch = master
