[submodule "appledoc"]
	path = appledoc
	url = https://github.com/sbausis/appledoc.git
	branch = TestSubmodule
[submodule "SBJson"]
	path = SBJson
	url = https://github.com/sbausis/SBJson.git
	branch = SBJson_v3.2.0_Submodules
